@model ProductType
<form method="post" action="/ProductType/Add" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Product Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="align-content-center">
        <button type="submit" class="btn btn-success">Save Type</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </div>
</form>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}