@{
    
}
<div>
    <div class="align-content-start">

        <table class="table table-bordered text-center" cellpadding="5">
           <thead>
               <tr class="bg-black bg-opacity-50">
                   <th class="text-capitalize text-white">Name</th>
                    <th class ="text-capitalize text-white">Price</th>
                    <th class ="text-capitalize text-white">Image</th>
                    <th class ="text-capitalize text-white">Rating</th>
                    <th class ="text-capitalize text-white" colspan="2">More</th>
               </tr>
           </thead>
           <tbody>
                @foreach(Product product in ViewBag.productList)
                {
                    <tr>
                        <td class="align-content-center">@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Image</td>
                        <td>@product.Rating</td>
                        <td><button class="btn btn-outline-success" asp-controller="Product" asp-action="AddCart">Add to Cart</button></td>
                        <td><a class="btn btn-primary" href="/product/details/@product.ProductId">Details</a></td>
                    </tr>
                }
            </tbody>
       </table>
    </div>
    <div>
        <a href="/product/add" class="btn btn-outline-primary">Add Item</a>
    </div>
</div>

