<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="row">
        <div class="column">


            <h1 class="h1">Items</h1>
            <table class="table">
                <thead>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>

                </thead>
                @foreach (Product item in ViewBag.cart.Products)
                {
                    <tr>
                        <th scope="col">@item.Name</th>
                        <th scope="col"><a asp-action="RemoveFromCart" asp-controller="Cart" asp-route-id="@item.ProductId"
                                class="btn btn-danger">Delete</a>
                        </th>
                        @* <th scope="col"><button onclick="extractProduct(@item.ProductId)"
                    class=" btn-danger">Delete</button>
                    </th> *@
                    </tr>
                }
            </table>

        </div>

    </div>
</body>

</html>

<script type="text/javascript">
    function extractProduct(id) {
        $.post("@Url.Action("RemoveFromCart", "Cart")", { id: id }, function () {
            alert("Deleted Product");
        });
    }

</script>