<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="row">
        <div class="column">


            <h1 class="h1">Items</h1>
            <table class="table">
                <thead>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>

                </thead>
                @foreach (Product item in ViewBag.cart.Products)
                {
                    <tr>
                        @* <th scope="col">@item.ProductId</th> *@
                        <th scope="col">@item.Name</th>
                        @* <th scope="col"><a asp-controller="Cart" asp-action="ExtractCart" asp-route-id="@item.ProductId"
                    class="btn btn-danger">Delete</a>
                    </th> *@
                    </tr>
                }
            </table>

        </div>

    </div>
</body>

</html>